<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xdpdf.xdpdfSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <xdpdf.xdpdfSettings>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\agent_tests\pdf detect</value>
            </setting>
            <setting name="QuarantinePath" serializeAs="String">
                <value>C:\agent_tests\pdf detect\HAZDAT raw pdfs</value>
            </setting>
            <setting name="Keywords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>/JS</string>
                        <string>/JavaScript</string>
                        <string>/AA</string>
                        <string>/OpenAction</string>
                        <string>/JBIG2Decode</string>
                        <string>/RichMedia</string>
                        <string>/Launch</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ScanAllAttachments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
        </xdpdf.xdpdfSettings>
    
  </userSettings>
</configuration>